
/*----------------------------------- MI PERFIL -----------------------------------*/


/*FOTO DE PERFIL PRIMERA VISTA COMPARTIDA*/


#foto_perfil {
    width: 18rem;
    border-radius: 10rem;
}

.mi_perfil, .contenedor_mi_perfil {
    min-height: 38rem;
}



@media (max-width:576px)
{
    /*FOTO DE PERFIL PRIMERA VISTA COMPARTIDA*/

    #foto_perfil {
        width: 17rem;
    }

    .mi_perfil, .contenedor_mi_perfil {
        min-height: 34rem;
    }

}

@media (max-width:1200px) {
    /*FOTO DE PERFIL PRIMERA VISTA COMPARTIDA*/

    .iconos_perfil{
        padding-bottom:4rem;
    }

    .contenedor_mi_perfil {
        padding-top: 2rem;
    }

}


@media (min-width:1200px) {
    /*FOTO DE PERFIL PRIMERA VISTA COMPARTIDA*/

    #foto_perfil {
        margin-top: 6rem;
    }

    .contenedor_nombre_icono {
        margin-top: 3rem;
    }


}

/* DATO: Agregar siempre min-height, para que no afecte el resto de los div    */

/*---------------------------- PRESENTACION, QUIEN SOY --------------------------*/


.presentacion, .presentacion2 {
    min-height: 27rem;
}
.presentacion2 {
    padding-right:5rem;
    padding-left:5rem;
}

.presentacion2 p {
    font-size: 1.20rem;
    line-height: 1.90rem; /*SEPARA O ACHICA EL ESPACIO ENTRE LETRAS*/
    font-family: sans-serif; /*CAMBIO EL TIPO DE LETRA*/
}

@media (max-width:576px) {

    .presentacion, .presentacion2 {
        min-height: 40rem;
    }
}

@media (min-width:991px) {

    .presentacion2 {
        padding-right: 10rem;
        padding-left: 10rem;
    }
}

/*------------------------------------------------------- PROYECTOS -----------------------------------------------*/

.proyectos, .contenedor-proyectos {
    min-height: 27rem;
}



@media (max-width:576px) {

    .proyectos, .contenedor-proyectos {
        min-height: 40rem;
    }
}




@media (max-width:992px)
{
    .proyectos {
        padding-right: 12rem;
        padding-left: 12rem;
        
    }
}

@media (max-width:768px) {
    .proyectos {
        padding-right: 10rem;
        padding-left: 10rem;
    }
}

@media (max-width:660px) {
    .proyectos {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media (min-width:991px) {

    .contenedor-proyectos {
        padding-right: 2rem;
        padding-left: 2rem;
        
    }
}

@media (min-width:1400px)
{
    
    .col_proyecto {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.tarjeta{

    max-width: 25rem;
}


.imagen_proyecto {
    height: 15rem;
    width: 29rem;
}

/*------------------------------------------------------BARRA  DE NAVEGACION-----------------------------------------*/

.barra_navegacion a{
    padding:0.6rem;
}

/*---------------------------------------------------- CONTACTO ---------------------------------------------------------------------------*/

.contenedor_contacto{
    min-height: 40rem;
}


.boton_cv{

    @media(min-width:)
}







