<div class="presentacion pb-5" id="contacto" style="background:#EDEDED;">
    <div class="presentacion2 contenedor_contacto">

        <h3 class=" fw-bold fs-2 text-center mb-5" style="color:#0C192C; padding-top:3rem;">Contacto</h3>


        <div class="row row-cols-1 align-content-center text-center justify-content-center mt-5 pt-5 mt-sm-0">


            <!--CON DE FLEX Y ALIGN ITEMS PONGO LA FOTO Y EL TEXTO EN LA MISMA LINEA-->
            <div class="col d-flex align-items-center  justify-content-center mb-5  boton_cv me-5 " style="">

                <img class="img-fluid boton_cv" src="~/imagenes/gmail.png" alt="foto_gmail" style="max-width:3rem;" />
                <h4 class="fs-5 mt-2 text-start" style="width:10rem; margin-left: 10px;">agusgarcia569@gmail.com</h4>

            </div>

            <div class="col d-flex align-items-center justify-content-center mb-5 boton_cv me-5" style="">

                <img class="img-fluid" src="~/imagenes/wsp.png" alt="foto_wsp" style="max-width:3rem;" />
                <h4 class="fs-5 mt-2 text-start" style="width:10rem; margin-left: 10px;">1163005095</h4>

            </div>



            <div class="col d-flex align-items-center justify-content-center boton_cv ms-md-1 ps-md-4 " style="">
                <a class="btn btn-primary p-2 ms-5" href="~/archivos/CV.pdf" download="CV.pdf" style="width:20rem; background-color:#0C192C">Descargar CV</a>

            </div>

        </div>

    </div>




</div>
