
<div class="mi_perfil" id="perfil" style=" background-color:#0C192C">

    <div class="container contenedor_mi_perfil">
        <div class="row pt-5 justify-content-center align-items-center fila_perfil">

            <div class="col-md-12 col-xl-3 offset-xl-1 text-center me-xl-5">
                <img id="foto_perfil" class="img-fluid img-thumbnail " src="~/imagenes/foto_perfil.jpeg" alt="foto_perfil" />
            </div>

            <div class="col-md-12 col-xl-7 text-center text-white contenedor_nombre_icono">
                <h1 class="display-3  pt-5 mt-1 mb-4">Agustin Garcia Navas</h1>
                <p class="fs-3" style="color:#CACACA"> Desarrollador en .NET </p>
                <div class="iconos_perfil pt-5">

                    <a class="text-start me-5" href="https://github.com/Agusmat22" target="_blank" style="text-decoration:none">
                        <img src="~/imagenes/github3.png" alt="logo_gitHub" style="max-width:4rem;" />
                    </a>

                    <a class="text-start " href="https://ar.linkedin.com/in/agustin-matias-garcia-navas-8b980524b" target="_blank">
                        <img src="~/imagenes/linkedin2.png" alt="logo_linkedin" style="max-width:4.3rem;"/>
                    </a>
                  
                </div>
                
                
            </div>
        <div/>
    </div>

    </div>
</div>